variable "aws_region" {
  description = "AWS region for deployment"
  type        = string
  default     = "eu-central-1"
}

variable "instance_name" {
  description = "Name tag for EC2 instance"
  type        = string
  default     = "devops-workshop-ec2"
}

variable "instance_type" {
  description = "EC2 instance type"
  type        = string
  default     = "t3.micro"
}

variable "allowed_cidr" {
  description = "Allowed CIDR block for SSH ingress"
  type        = string
}
